nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color:#FFFFFF;
  padding: 0em 1.5em;
  font-family: Bungee, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  position: fixed;
  top: 0;
  left: 0;
}

#dropDown {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 0em 1em;
  background-color:#4056A1;
  color: #f4f1ec;
  border: none;
  cursor: pointer;
}

#logo{
  font-size: 48px;
}

#dropDown:hover {
  color: rgb(207, 173, 20);
}

.nav-icon {
  animation-name: nav-icon;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  position:relative;
}
@keyframes nav-icon {
  0% {top: 0px;}
  50% {top: 16px;}
  100% {top: 0px;}
}