.tweet-form {
  display: flex;
  flex-direction: column;
}

label {
  border-bottom: solid;
}

#new-tweet {
  display: flex;
  justify-content: space-between;
  margin: 1em 0em;
}

.counter {
  font-family: "Bungee", sans-serif;
}

button {
  font-family: "Bungee", sans-serif;
  background-color:#4056A1;
  color: #f4f1ec;
}

.negative {
  color: red;
}

.tweet {
  border: solid;
  padding: .5em;
  margin: 1em 0em;
}

header {
  display: flex;
  justify-content: space-between;
}

article {
  margin: 1em 0em;
}
footer {
  display: flex;
  justify-content: space-between;
  border-top: solid;
  padding: .5em 0em;
}
.tweet-icons {
  color:rgb(48, 48, 184);
  cursor: pointer;
}
i:hover {
  color: rgb(207, 173, 20);
}
.tweet:hover {
  box-shadow: 8px 8px 0px -4px rgba(191,187,240,1);
}